* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", "Segoe UI", Roboto, Arial, sans-serif;
  background: linear-gradient(135deg, #dbe9f4, #f5f7fa);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER  */
.auth-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.auth-box {
  background-color: #ffffff;
  width: 380px;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.auth-box:hover {
  transform: translateY(-3px);
}

.auth-box h2 {
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
  color: #1f2937;
}

/* INPUT STYLING */


.auth-box input,
.auth-box select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 15px;
  color: #1f2937;
  background-color: #f9fafb;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.auth-box input:focus,
.auth-box select:focus {
  border-color: #2563eb;
  background-color: #ffffff;
  outline: none;
}

/* BUTTON */
.auth-box button {
  width: 100%;
  background-color: #2563eb;
  color: white;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 5
}


/* LINK SECTION  */
.switch-link {
  margin-top: 25px;
  text-align: center;        
  color: #4b5563;            
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.switch-link a {
  color: #2563eb;            
  font-weight: 600;
  text-decoration: none;
  margin-left: 4px;          
  transition: color 0.2s ease;
}

.switch-link a:hover {
  color: #1d4ed8;            
  text-decoration: underline;
}


@media (max-width: 480px) {
  .switch-link {
    font-size: 14px;
    margin-top: 20px;
  }

  .switch-link a {
    font-size: 14px;
  }
}